/* ==========================================================================
   Website Custom Styles
   ========================================================================== */


/* General Styles */

html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

/* Index.html Styles */

    /* Navbar Styles */

.navbar {
    background-color: #212F3A;
}

.navbar a {
    color: #7EA6A5 !important;
}

.navbar a:hover {
    color: #fff !important;
}

    /* Carousel Styles */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.quote {
    font-weight: 300;
}

.quote {
    color: #7EA6A5;
}

    /* Service Styles */

#services {
    color: #212F3A;
}

    /* Footer Styles */

#footer {
    background-color: #212F3A;
    width: 100%;
    color: #7EA6A5;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.logo {
    font-size: 3em;
    font-weight: 900;
}

.footer-quote {
    font-size: 1.2em;
}

.quote-author {
    font-style: italic;
    color: #C5D8DC;
}

.made-by {
    padding-top: 10px;
}

.made-by a {
    color: #C5D8DC;
    text-decoration: none;
}

.made-by a:hover {
    color: #7EA6A5;
}

@media (min-width: 768px) {
    .footer-quote {
        padding-bottom: 0;
        text-align: left;
    }
}


/* Contact.html Styles */

    /* Quick Contact Styles */    

.quick-contact {
    height: 50px;
    margin-top: 50px;
    background-color: #C6D8D8;
}

.quick-contact a {
    font-size: 1.2em;
    color: #212F3A;
}

.quick-contact a:hover {
    text-decoration: none;
    color: #fff;
}

.e-mail {
    padding-top: 10px; 
}

    /* Form Styles */

.contact-form {
    height: 100%;
}

hr {
    height: 2px;
    background-color: #212F3A;
}

.form {
    margin-top: 30px
}

.form-control {
    color: #212F3A;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid #212F3A;
    font-size: 0.9em;
    height: 65px;
    width: 100% !important;
}

textarea.form-control {
    height: 200px;
}

.btn2 {
    display: inline-block;
    background: transparent;
    color: #212F3A;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    border: 2px solid #212F3A;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.btn2 span {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .btn2 {
        width: auto;
        text-align: auto;
        padding: 20px;
    }
}

/* Portfolio.html Styles */

    /* Quick Contact Styles */    

.portfolio {
    height: 100%;
}


/* About.html Styles */

    /* Quick Contact Styles */ 

.about {
    height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
